body {
    margin: 60px auto;
    width: 70%;
    cursor: crosshair;
    
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

h1:hover {
       font-size: 5em;
       background-color: black;
        color: white;
    }
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: black
}

.wolke { 
    font-size: 3em;
        color: black}

h2 {
    font-family:'', 'Arial', 'Sans-Serif';
    font-size: 3em;
    color: blue;

}

.wolke:hover {
    color: white;
    text-transform: uppercase;
    letter-spacing: 1em;
    text-shadow:
     1px  1px 1px black
     1px -1px 1px black,
    -1px  1px 1px black,
    -1px -1px 1px black;
    text-align: center;
   
}

